<h1>Menu Categories</h1>

<!-- CREATE MENU CATEGORY -->
<form #menuCategoryForm="ngForm" (ngSubmit)="createMenuCategory(menuCategoryForm)">
  <input
    type="text"
    name="name"
    ngModel
    placeholder="Name"
    required
    #name="ngModel"
  />
  <div *ngIf="name.invalid && name.touched">Name is required</div>

  <button type="submit" [disabled]="menuCategoryForm.invalid">
    Create Menu Category
  </button>
</form>

<section>
<table border="1" class="table table-striped">
  <thead>
  <tr>
    <th>Menu Category Name</th>
    <th>Menu Category UUID</th>
    <th>Actions</th> <!-- Add Actions column -->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories">
    <td>{{ category.name }}</td>
    <td>{{ category.menu_uuid }}</td>
    <td>
      <!-- Action buttons -->
      <button (click)="getMenuCategoryDetails(category.menu_uuid)">View</button>
      <button (click)="updateMenuCategory(category.menu_uuid, category)">Update</button>
      <button (click)="deleteMenuCategory(category.menu_uuid)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
</section>